# Backend
DATABASE_URL=postgresql://user:pass@ep-xxx.us-east-2.aws.neon.tech/poof
UPSTASH_REDIS_REST_URL=https://xxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=AXxx...
SECRET_KEY=your-secret-key
ALLOWED_ORIGINS=https://poof.vercel.app,https://pooof.vercel.app
FRONTEND_URL=https://poof.vercel.app

# Frontend
NEXT_PUBLIC_API_URL=https://poof-xrlc.onrender.com
